// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$columns: 12 !default;
$column-gap: 12px !default;
$rows: 6 !default;
$row-gap: 12px !default;
