// ============================================================================================= //
//                                           FUNCTIONS                                           //
// ============================================================================================= //

@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "@sass-collective/strip-unit";

@function convert($values, $context) {
    $result: ();

    @each $value in $values {
        @if not math.is-unitless($value) and math.unit($value) != "px" {
            @error "Invalid unit on value `#{$value}`. Choose value with `px` unit instead.";
        }

        $value: strip-unit.strip($value);

        @if $value == 0 {
            $value: 0;
        } @else {
            $value: math.div($value, strip-unit.strip($context)) * 1em;
        }

        @if meta.type-of($values) == "number" {
            $result: $value;
        } @else {
            $result: list.append($result, $value);
        }
    }

    @return $result;
}
