// ============================================================================================= //
//                                           FUNCTIONS                                           //
// ============================================================================================= //

@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "@sass-collective/strip-unit";

@function convert($values, $context) {
    $result: ();
    $context: strip-unit.strip($context);

    @each $value in $values {
        @if meta.type-of($value) == "number" and not math.is-unitless($value) and math.unit($value) != "px" {
            @error "Invalid unit on value `#{$value}`. Choose value with `px` unit instead or without unit.";
        } @else if meta.type-of($value) == "number" and not math.is-unitless($value) {
            $value: strip-unit.strip($value);
        }

        @if meta.type-of($value) == "number" and $value != 0 {
            $result: list.append($result, math.div($value, $context) * 1em);
        } @else {
            $result: list.append($result, $value);
        }
    }

    @return $result;
}

///
/// Fallback function in case if your namespace if not enough explicit.
///
/// @example
///     @use "@sass-collective/em" as foo;
///     // font-size: foo.em(16, 16);
///
@function em($values, $context) {
    @return convert($values, $context);
}

