// ============================================================================================= //
//                                           FUNCTIONS                                           //
// ============================================================================================= //

@use "sass:meta";
@use "sass:map";
@use "sass:string";

@function create($name, $fallback: null) {
    @if string.slice($name, 1, 2) != "--" {
        $name: create-varname($name);
    }

    @return (
        varname: $name,
        fallback: $fallback
    );
}

@function get-varname($custom-prop) {
    @return map.get($custom-prop, "varname");
}

@function get-fallback($custom-prop) {
    @return map.get($custom-prop, "fallback");
}

@function is-custom-prop($value) {
    @return meta.type-of($value) == "map" and map.has-key($value, "varname");
}

@function create-varname($name) {
    @return --#{$name};
}

@function create-var($custom-prop) {
    $name: get-varname($custom-prop);
    $fallback: get-fallback($custom-prop);

    @if $fallback {
        @return var($name, $fallback);
    }

    @return var($name);
}

/// @deprecated Use create-var() function instead.
@function custom-prop($custom-prop) {
    @return create-var($custom-prop);
}
