// ============================================================================================= //
//                                           FUNCTIONS                                           //
// ============================================================================================= //

@use "sass:map";
@use "@sass-collective/strip-unit";
@use "./variables";

@function get-value($value) {
    @return map.get(variables.$styles, $value);
}

@function set-value($value, $strict: false) {
    $_value: get-value($value);
    $unit: strip-unit.strip($_value) * 1px;

    @if $strict {
        $_value: $unit - 1;
    } @else {
        $_value: $unit;
    }

    @return $_value;
}
