// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:map";
@use "sass:string";
@use "./functions";
@use "./variables";

///
/// @example
///     @include breakpoint.styles(lg) { font-size: 10px; }
///     // @media all and (min-width: 960px) { font-size: 10px; }
///
@mixin styles($min-width: null, $max-width: null, $root-selector: null) {
    @if $min-width and not map.has-key(variables.$styles, $min-width) {
        @error "Invalid style, `#{$min-width}` doesn't exist. Choose one of #{map.keys(variables.$styles)}.";
    } @else if $max-width and not map.has-key(variables.$styles, $max-width) {
        @error "Invalid style, `#{$max-width}` doesn't exist. Choose one of #{map.keys(variables.$styles)}.";
    } @else if $root-selector and (string.slice($root-selector, 1, 1) != ".") and (string.slice($root-selector, 1, 1) != "#") {
        @error "The `#{$root-selector}` selector need to be ID or class.";
    }

    @if $min-width {
        @if $max-width {
            @media all and (min-width: functions.set-value($min-width)) and (max-width: functions.set-value($max-width, variables.$strict)) {
                @if $root-selector {
                    #{$root-selector} & {
                        @content;
                    }
                } @else {
                    @content;
                }
            }
        } @else {
            @media all and (min-width: functions.set-value($min-width)) {
                @if $root-selector {
                    #{$root-selector} & {
                        @content;
                    }
                } @else {
                    @content;
                }
            }
        }
    } @else if $max-width {
        @media all and (max-width: functions.set-value($max-width, variables.$strict)) {
            @if $root-selector {
                #{$root-selector} & {
                    @content;
                }
            } @else {
                @content;
            }
        }
    }
}

///
/// @example
///     @include breakpoint.up(lg) { font-size: 10px; }
///     // @media (min-width: 960px) { font-size: 10px; }
///
@mixin up($screen) {
    @if $screen and not map.has-key(variables.$styles, $screen) {
        @error "Invalid style, `#{$screen}` doesn't exist. Choose one of #{map.keys(variables.$styles)}.";
    }

    $min: functions.set-min($screen);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

///
/// @example
///     @include breakpoint.up(lg) { font-size: 10px; }
///     // @media (max-width: 960px) { font-size: 10px; }
///
@mixin down($screen) {
    @if $screen and not map.has-key(variables.$styles, $screen) {
        @error "Invalid style, `#{$screen}` doesn't exist. Choose one of #{map.keys(variables.$styles)}.";
    }

    $max: functions.set-max($screen);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

///
/// @example
///     @include breakpoint.only(lg) { font-size: 10px; }
///     // @media (min-width: 960px) and (max-width: 1200px) { { font-size: 10px; }
///
@mixin only($screen) {
    @if $screen and not map.has-key(variables.$styles, $screen) {
        @error "Invalid style, `#{$screen}` doesn't exist. Choose one of #{map.keys(variables.$styles)}.";
    }

    $min: functions.set-min($screen);
    $next: functions.get-next($screen);
    $max: functions.set-max($next);

    @if $min != null and $max != null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max == null {
        @include up($screen) {
            @content;
        }
    }
}
