// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$strict: true !default;

// ------------------------------------------------------------------------- //
// Screen sizes
// ------------------------------------------------------------------------- //

$very-small: 320px !default;
$small: 480px !default;
$medium: 768px !default;
$large: 960px !default;
$wide: 1200px !default;
$extra-wide: 1500px !default;

// ------------------------------------------------------------------------- //
// Property values
// ------------------------------------------------------------------------- //

$property-values: (
    "xs": $very-small,
    "sm": $small,
    "md": $medium,
    "lg": $large,
    "xl": $wide,
    "2xl": $extra-wide
) !default;
