// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

/// @deprecated Will be removed on version 3.
$strict: true !default;

// ------------------------------------------------------------------------- //
// Screen sizes
// ------------------------------------------------------------------------- //

$screens: () !default;

$styles: map.merge((
    "xs": 320px,
    "sm": 480px,
    "md": 768px,
    "lg": 960px,
    "xl": 1200px,
    "2xl": 1400px
), $screens);
