// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$strict: true !default;

// ------------------------------------------------------------------------- //
// Screen sizes
// ------------------------------------------------------------------------- //

$values: () !default;

$styles: map.merge((
    xs: 320px,
    sm: 480px,
    md: 768px,
    lg: 960px,
    xl: 1200px,
    "2xl": 1500px
), $values) !default;

// ------------------------------------------------------------------------- //
// Property values
// ------------------------------------------------------------------------- //

$property-values: $styles;
