// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$strict: true !default;

// ------------------------------------------------------------------------- //
// Screen sizes
// ------------------------------------------------------------------------- //

$very-small: 320 !default;
$small: 480 !default;
$medium: 768 !default;
$large: 960 !default;
$wide: 1200 !default;
