// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "sass:string";
@use "../index" as css;

@include describe("css.declaration()") {
    @include it("Should return css declaration.") {
        @include assert {
            @include output {
                .foo {
                    @include css.declaration(color, darkcyan);
                }
            }

            @include expect {
                .foo {
                    color: darkcyan;
                }
            }
        }
    }

    @include it("Should return css declaration with `!important`.") {
        @include assert {
            @include output {
                .foo {
                    @include css.declaration(color, darkcyan, true);
                }
            }

            @include expect {
                .foo {
                    color: darkcyan !important;
                }
            }
        }
    }

    @include it("Should return css declaration with mulitple value.") {
        @include assert {
            @include output {
                .foo {
                    @include css.declaration(box-shadow, (0 0 10px 5px rgba(darkcyan, 0.75), inset 0 0 10px 5px rgba(darkcyan, 0.75)));
                }
            }

            @include expect {
                .foo {
                    box-shadow: 0 0 10px 5px rgba(0, 139, 139, 0.75), inset 0 0 10px 5px rgba(0, 139, 139, 0.75);
                }
            }
        }
    }
}

@include describe("css.unpack()") {
    @include it("Should return unpacked declaration with one value.") {
        @include assert {
            @include output {
                .foo {
                    margin: css.unpack(10px);
                }
            }

            @include expect {
                .foo {
                    margin: 10px 10px 10px 10px;
                }
            }
        }
    }

    @include it("Should return unpacked declaration with two values.") {
        @include assert {
            @include output {
                .foo {
                    margin: css.unpack(10px 5px);
                }
            }

            @include expect {
                .foo {
                    margin: 10px 5px 10px 5px;
                }
            }
        }
    }

    @include it("Should return unpacked declaration with three values.") {
        @include assert {
            @include output {
                .foo {
                    margin: css.unpack(10px 5px 12px);
                }
            }

            @include expect {
                .foo {
                    margin: 10px 5px 12px 5px;
                }
            }
        }
    }

    @include it("Should return unpacked declaration with four values.") {
        @include assert {
            @include output {
                .foo {
                    margin: css.unpack(10px 5px 12px 0);
                }
            }

            @include expect {
                .foo {
                    margin: 10px 5px 12px 0;
                }
            }
        }
    }
}

@include describe("css.selector()") {
    @include it("Should return prefixed selector.") {
        @include assert {
            @include output {
                @include css.selector(".foo", md) {
                    background: darkcyan;
                }
            }

            @include expect {
                .md\:foo {
                    background: darkcyan;
                }
            }
        }
    }

    @include it("Should return prefixed selector with custom divider.") {
        @include assert {
            @include output {
                @include css.selector(".foo", md, "@") {
                    background: darkcyan;
                }
            }

            @include expect {
                .md\@foo {
                    background: darkcyan;
                }
            }
        }
    }

    @include it("Should return suffixed selector.") {
        @include assert {
            @include output {
                @include css.selector(".foo", md, $suffix: true) {
                    background: darkcyan;
                }
            }

            @include expect {
                .foo\:md {
                    background: darkcyan;
                }
            }
        }
    }

    @include it("Should return suffixed selector with custom divider.") {
        @include assert {
            @include output {
                @include css.selector(".foo", md, "@", true) {
                    background: darkcyan;
                }
            }

            @include expect {
                .foo\@md {
                    background: darkcyan;
                }
            }
        }
    }
}
