// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "../mixins";

///
/// @example
///     @include prefix(md) { background: darkcyan; }
///     // .md:foo { background: darkcyan; }
///
/// @link https://sparkbox.com/foundry/responsive_class_suffixes_automating_classes_with_sass_mixins_and_sass_maps
///
/// @deprecated Use `css.separator()` mixin instead.
///
@mixin prefix($key, $divider: ":") {
    @include mixins.selector($key, $divider) {
        @content;
    }
}

///
/// @example
///     @include suffix(md) { background: darkcyan; }
///     // .foo:md { background: darkcyan; }
///
/// @link https://sparkbox.com/foundry/responsive_class_suffixes_automating_classes_with_sass_mixins_and_sass_maps
///
/// @deprecated Use `css.separator()` mixin instead.
///
@mixin suffix($key, $divider: ":") {
    @include mixins.selector($key, $divider, true) {
        @content;
    }
}
