// ============================================================================================= //
//                                           FUNCTIONS                                           //
// ============================================================================================= //

@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "@sass-collective/strip-unit";
@use "./variables";

@function convert($values) {
    $result: ();

    @each $value in $values {
        @if not math.is-unitless($value) and math.unit($value) != "px" {
            @error "Invalid unit on value `#{$value}`. Choose value with `px` unit instead.";
        }

        $value: strip-unit.strip($value);

        @if $value == 0 {
            $value: 0;
        } @else {
            $value: math.div($value, strip-unit.strip(variables.$baseline)) * 1rem;
        }

        @if meta.type-of($values) == "number" {
            $result: $value;
        } @else {
            $result: list.append($result, $value);
        }
    }

    @return $result;
}

///
/// Fallback function in case if your namespace if not enough explicit.
///
/// @example
///     @use "@sass-collective/rem" as foo;
///     // font-size: foo.rem(16);
///
@function rem($values) {
    @return convert($values);
}
