// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$directions: (
    left: ltr,
    right: rtl
);
